<%- include('partials/header') %>

<!-- a top bar for each page separately -->
<div class="main-content">
    <div class="topbar">
        <h2>Write a Post</h2>
        <div class="topbar-actions">
            <button type="submit" form="post-form" name="status" value="draft" class="btn">Save as Draft</button>
            <button type="submit" form="post-form" name="status" value="published" class="btn">Publish</button>
        </div>
    </div>
    
    <!-- we use a form for submitting new blog posts -->
    <form id="post-form" action="<%= typeof post !== 'undefined' ? '/edit/' + post.id : '/write-blog' %>" method="POST">
        <input type="text" name="title" placeholder="Enter post title..." value="<%= typeof post !== 'undefined' ? post.title : '' %>">
        <input type="text" name="tags" placeholder="Add tags, comma separated" value="<%= typeof post !== 'undefined' ? post.tags.join(', ') : '' %>">
        <textarea name="content" placeholder="Write your heart desires..."><%= typeof post !== 'undefined' ? post.content : '' %></textarea>
    </form>
</div>

<%- include('partials/footer') %>